In [9]:
import requests
from bs4 import BeautifulSoup

In [10]:
url1 = "https://www.topuniversities.com/university-rankings/world-university-rankings/2018"
url2 = "https://www.timeshighereducation.com/world-university-rankings/2018/world-ranking#!/page/0/length/100/sort_by/rank/sort_order/asc/cols/stats"
json1 = "https://www.topuniversities.com//sites//default//files//qs-rankings-data//357051.txt"
json2 = "https://www.timeshighereducation.com//sites//default//files//the_data_rankings//world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json"
r = requests.get(json1)
json1_text = r.json()
r = requests.get(json2)
json2_text = r.json()

In [11]:
import pandas as pd
import numpy as np
num_of_rank = 200
data1 = pd.DataFrame(data=json1_text["data"][0:200], index=list(range(num_of_rank)))
data2 = pd.DataFrame(data=json2_text["data"][0:200], index=list(range(num_of_rank)))

In [12]:
d1 = data1.copy(deep=True)
d2 = data2.copy(deep=True)
d1.drop(['cc', 'core_id', 'guide', 'logo', 'nid', 'stars'], axis=1, inplace=True)
d2.drop(['aliases', 'member_level', 'nid', 'rank_order', 'record_type', 'scores_citations_rank', 'scores_citations_rank', 'scores_industry_income_rank',
       'scores_international_outlook_rank', 'scores_overall_rank', 'scores_research_rank', 'scores_teaching_rank', 'subjects_offered', 'url'], axis=1, inplace=True)

In [13]:

url_base = "https://www.topuniversities.com"
div1 = '<div class="faculty-main wrapper col-md-4">'
div2 = '<div class="students-main wrapper col-md-4">'
div3 = '<div class="int-students-main wrapper col-md-4">'
class_name = ["faculty-main wrapper col-md-4", "students-main wrapper col-md-4", "int-students-main wrapper col-md-4"]

In [14]:
d1_ = d1.copy(deep=True)
d1_ = d1_.assign(Total_Faculty=0)
d1_ = d1_.assign(International_Faculty=0)
d1_ = d1_.assign(Total_Student=0)
d1_ = d1_.assign(International_Student=0)

for i in d1_.index:
    url_ = d1_.iloc[i]['url']
    r = requests.get(url_base + url_)
    soup = BeautifulSoup(r.text, 'html.parser')
    lst = []
    for ic, c in enumerate(class_name):
        a = soup.findAll("div", { "class" : c})
        if len(a) > 0:
            for j in a[0].findAll("div", { "class" : "number" }):
                lst.append(int(''.join(ch for ch in j.get_text() if ch.isdigit())))
        if ic == 0:
            lst += [np.nan] * (2-len(lst))
        if ic == 1:
            lst += [np.nan] * (3-len(lst))
        if ic == 2:
            lst += [np.nan] * (4-len(lst))                
    d1_.loc[i, ['Total_Faculty', 'International_Faculty', 'Total_Student', 'International_Student']] = lst

In [24]:
QS = d1_.copy()
Times = d2.copy()

In [54]:
banned = set(['University', 'of', 'The'])
QS_words = QS['title'].apply(lambda x: x.split(' ')).apply(lambda x: list(set(x) - banned)).tolist()Times_words = Times['name'].apply(lambda x: x.split(' ')).apply(lambda x: list(set(x) - banned)).tolist()

In [70]:
points = [[len(set(qs_word_list) & set(times_word_list)) for qs_word_list in QS_words] for times_word_list in Times_words]
len(points)

200

In [78]:
qs_ids = [i for i in range(200)]
times_ids = [i for i in range(200,400)]

used_names = []

points = [[len(set(qs_word_list) & set(times_word_list)) for qs_word_list in QS_words] for times_word_list in Times_words]
for idx, point in enumerate(points):
    where = point.index(max(point))
    
    if where not in used_names:
        used_names.append(where)
        times_ids[idx] = where if max(point) > 0 else times_ids[idx]
        
QS['nameIndex'] = qs_ids
Times['nameIndex'] = times_ids

In [86]:
result = pd.merge(QS, Times, how='inner', on=['nameIndex'])
result[['name','title']]

,name,title
0,Massachusetts Institute of Technology,Massachusetts Institute of Technology (MIT)
1,Stanford University,Stanford University
2,Harvard University,Harvard University
3,California Institute of Technology,California Institute of Technology (Caltech)
4,University of Cambridge,University of Cambridge
5,University of Oxford,University of Oxford
6,Imperial College London,Imperial College London
7,University of Chicago,University of Chicago
8,ETH Zurich – Swiss Federal Institute of Techno...,ETH Zurich - Swiss Federal Institute of Techno...
9,"Nanyang Technological University, Singapore","Nanyang Technological University, Singapore (NTU)"
10,École Polytechnique Fédérale de Lausanne,Ecole Polytechnique Fédérale de Lausanne (EPFL)
11,Princeton University,Princeton University
12,Cornell University,Cornell University
13,National University of Singapore,National University of Singapore (NUS)
14,Yale University,Yale University
15,Johns Hopkins University,Johns Hopkins University
16,Columbia University,Columbia University
17,University of Pennsylvania,University of Pennsylvania
18,Australian National University,The Australian National University
19,University of Michigan,University of Michigan
20,Duke University,Duke University
21,University of Edinburgh,The University of Edinburgh
22,Tsinghua University,Tsinghua University
23,University of Hong Kong,The University of Hong Kong
24,"University of California, Berkeley","University of California, Berkeley (UCB)"
25,University of Tokyo,The University of Tokyo
26,Northwestern University,Northwestern University
27,Hong Kong University of Science and Technology,The Hong Kong University of Science and Techno...
28,University of Toronto,University of Toronto
29,McGill University,McGill University
...,...,...
120,Erasmus University Rotterdam,Erasmus University Rotterdam
121,Emory University,Emory University
122,University of Basel,University of Basel
123,Michigan State University,Michigan State University
124,Université Catholique de Louvain,Université catholique de Louvain (UCL)
125,University of Vienna,University of Vienna
126,Autonomous University of Barcelona,Universitat de Barcelona
127,École Normale Supérieure de Lyon,École Normale Supérieure de Lyon
128,University of Aberdeen,University of Aberdeen
129,University of Exeter,The University of Exeter
130,Newcastle University,Newcastle University
131,University of Minnesota,University of Minnesota
132,"University of California, Irvine","University of California, Irvine"
133,University of Tübingen,Eberhard Karls Universität Tübingen
134,University of Bern,University of Bern
135,Dartmouth College,Dartmouth College
136,University of Freiburg,Albert-Ludwigs-Universitaet Freiburg
137,University of Liverpool,University of Liverpool
138,University of Virginia,University of Virginia
139,University of Florida,University of Florida
140,University of Twente,University of Twente
141,University of Göttingen,University of Göttingen
142,Vrije Universiteit Amsterdam,Vrije Universiteit Brussel (VUB)
143,University of Colorado Boulder,University of Colorado Boulder
144,University of Rochester,University of Rochester
145,University of Cape Town,University of Cape Town
146,Scuola Superiore Sant’Anna,Scuola Normale Superiore di Pisa
147,Stockholm University,Stockholm University
148,Texas A&M University,Texas A&M University
149,Maastricht University,Maastricht University

,name,title
0,Massachusetts Institute of Technology,Massachusetts Institute of Technology (MIT)
1,Stanford University,Stanford University
2,Harvard University,Harvard University
3,California Institute of Technology,California Institute of Technology (Caltech)
4,University of Cambridge,University of Cambridge
5,University of Oxford,University of Oxford
6,NaN,UCL (University College London)
7,Imperial College London,Imperial College London
8,University of Chicago,University of Chicago
9,ETH Zurich – Swiss Federal Institute of Techno...,ETH Zurich - Swiss Federal Institute of Techno...
10,"Nanyang Technological University, Singapore","Nanyang Technological University, Singapore (NTU)"
11,École Polytechnique Fédérale de Lausanne,Ecole Polytechnique Fédérale de Lausanne (EPFL)
12,Princeton University,Princeton University
13,Cornell University,Cornell University
14,National University of Singapore,National University of Singapore (NUS)
15,Yale University,Yale University
16,Johns Hopkins University,Johns Hopkins University
17,Columbia University,Columbia University
18,University of Pennsylvania,University of Pennsylvania
19,Australian National University,The Australian National University
20,University of Michigan,University of Michigan
21,Duke University,Duke University
22,University of Edinburgh,The University of Edinburgh
23,NaN,King's College London
24,Tsinghua University,Tsinghua University
25,University of Hong Kong,The University of Hong Kong
26,"University of California, Berkeley","University of California, Berkeley (UCB)"
27,University of Tokyo,The University of Tokyo
28,Northwestern University,Northwestern University
29,Hong Kong University of Science and Technology,The Hong Kong University of Science and Techno...
...,...,...
170,University of Freiburg,Albert-Ludwigs-Universitaet Freiburg
171,NaN,Indian Institute of Technology Delhi (IITD)
172,NaN,King Fahd University of Petroleum & Minerals
173,University of Liverpool,University of Liverpool
174,University of Virginia,University of Virginia
175,NaN,University of Technology Sydney
176,NaN,CentraleSupélec
177,University of Florida,University of Florida
178,NaN,Indian Institute of Technology Bombay (IITB)
179,University of Twente,University of Twente
180,University of Göttingen,University of Göttingen
181,Vrije Universiteit Amsterdam,Vrije Universiteit Brussel (VUB)
182,NaN,Universidade Estadual de Campinas (Unicamp)
183,University of Colorado Boulder,University of Colorado Boulder
184,NaN,Vienna University of Technology
185,University of Rochester,University of Rochester
186,NaN,Universidad Autónoma de Madrid
187,NaN,Alma Mater Studiorum - University of Bologna
188,NaN,University of Reading
189,NaN,Indian Institute of Science (IISc) Bangalore
190,University of Cape Town,University of Cape Town
191,Scuola Superiore Sant’Anna,Scuola Normale Superiore di Pisa
192,NaN,Scuola Superiore Sant'Anna Pisa di Studi Unive...
193,NaN,Keio University CEMS MIM
194,Stockholm University,Stockholm University
195,NaN,Universitat Autònoma de Barcelona
196,Texas A&M University,Texas A&M University
197,NaN,Instituto Tecnológico y de Estudios Superiores...
198,Maastricht University,Maastricht University
199,NaN,Universidad de Chile