In [3]:
import requests
from bs4 import BeautifulSoup

In [4]:
url1 = "https://www.topuniversities.com/university-rankings/world-university-rankings/2018"
url2 = "https://www.timeshighereducation.com/world-university-rankings/2018/world-ranking#!/page/0/length/100/sort_by/rank/sort_order/asc/cols/stats"
json1 = "https://www.topuniversities.com//sites//default//files//qs-rankings-data//357051.txt"
json2 = "https://www.timeshighereducation.com//sites//default//files//the_data_rankings//world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json"
r = requests.get(json1)
json1_text = r.json()
r = requests.get(json2)
json2_text = r.json()

In [5]:
import pandas as pd
import numpy as np
num_of_rank = 200
data1 = pd.DataFrame(data=json1_text["data"][0:200], index=list(range(num_of_rank)))
data2 = pd.DataFrame(data=json2_text["data"][0:200], index=list(range(num_of_rank)))

In [6]:
d1 = data1.copy(deep=True)
d2 = data2.copy(deep=True)
d1.drop(['cc', 'core_id', 'guide', 'logo', 'nid', 'stars'], axis=1, inplace=True)
d2.drop(['aliases', 'member_level', 'nid', 'rank_order', 'record_type', 'scores_citations_rank', 'scores_citations_rank', 'scores_industry_income_rank',
       'scores_international_outlook_rank', 'scores_overall_rank', 'scores_research_rank', 'scores_teaching_rank', 'subjects_offered', 'url'], axis=1, inplace=True)

In [7]:

url_base = "https://www.topuniversities.com"
div1 = '<div class="faculty-main wrapper col-md-4">'
div2 = '<div class="students-main wrapper col-md-4">'
div3 = '<div class="int-students-main wrapper col-md-4">'
class_name = ["faculty-main wrapper col-md-4", "students-main wrapper col-md-4", "int-students-main wrapper col-md-4"]

In [8]:
d1_ = d1.copy(deep=True)
d1_ = d1_.assign(Total_Faculty=0)
d1_ = d1_.assign(International_Faculty=0)
d1_ = d1_.assign(Total_Student=0)
d1_ = d1_.assign(International_Student=0)

for i in d1_.index:
    url_ = d1_.iloc[i]['url']
    r = requests.get(url_base + url_)
    soup = BeautifulSoup(r.text, 'html.parser')
    lst = []
    for ic, c in enumerate(class_name):
        a = soup.findAll("div", { "class" : c})
        if len(a) > 0:
            for j in a[0].findAll("div", { "class" : "number" }):
                lst.append(int(''.join(ch for ch in j.get_text() if ch.isdigit())))
        if ic == 0:
            lst += [np.nan] * (2-len(lst))
        if ic == 1:
            lst += [np.nan] * (3-len(lst))
        if ic == 2:
            lst += [np.nan] * (4-len(lst))                
    d1_.loc[i, ['Total_Faculty', 'International_Faculty', 'Total_Student', 'International_Student']] = lst

In [9]:
QS = d1_.copy()
Times = d2.copy()

![Explanation Image](https://snag.gy/FqTZ6g.jpg)

In [112]:
banned = set(['University', 'of', 'The']) # Banned, useless words

# Extract paranthesis
# Divide words
# Substract banned words
# to list

QS_words = QS['title'].apply(lambda x: [x.replace(')', '').replace('(','') for x in x.split(' ')]).apply(lambda x: list(set(x) - banned)).tolist()
Times_words = Times['name'].apply(lambda x: [x.replace(')', '').replace('(','') for x in x.split(' ')]).apply(lambda x: list(set(x) - banned)).tolist()

In [119]:
# points are from the same words

points = [[len(set(qs_word_list) & set(times_word_list)) for qs_word_list in QS_words] for times_word_list in Times_words]

In [118]:
times_ids = [i for i in range(200)] # suppose every names from Times are different
qs_ids = [i for i in range(200,400)] # suppose every names from QS are differetent

used_names = []

points = [[len(set(qs_word_list) & set(times_word_list)) for qs_word_list in QS_words] for times_word_list in Times_words]
for idx, point in enumerate(points):
    indices = [i for i, x in enumerate(point) if x == max(point)] # Find maximum points
    for index in indices:
        if index not in used_names:
            if max(point) > 0:
                used_names.append(index)
                qs_ids[index] = idx
            break
        
Times['nameIndex'] = times_ids
QS['nameIndex'] = qs_ids

In [120]:
results

,country,rank_display,region,score,title,url,Total_Faculty,International_Faculty,Total_Student,International_Student,...,scores_citations,scores_industry_income,scores_international_outlook,scores_overall,scores_research,scores_teaching,stats_female_male_ratio,stats_number_students,stats_pc_intl_students,stats_student_staff_ratio
0,United States,1,North America,100,Massachusetts Institute of Technology (MIT),/universities/massachusetts-institute-technolo...,2982.0,1679.0,11067.0,3717.0,...,100.0,88.4,87.6,92.5,91.9,87.3,37 : 63,"11,177",34%,8.7
1,United States,2,North America,98.7,Stanford University,/universities/stanford-university,4285.0,2042.0,15878.0,3611.0,...,99.9,60.5,77.6,93.0,96.7,89.1,42 : 58,"15,845",22%,7.5
2,United States,3,North America,98.4,Harvard University,/universities/harvard-university,4350.0,1311.0,22429.0,5266.0,...,99.7,46.4,79.7,91.8,98.4,84.2,None,"20,326",26%,8.9
3,United States,4,North America,97.7,California Institute of Technology (Caltech),/universities/california-institute-technology-...,953.0,350.0,2255.0,647.0,...,99.5,92.6,59.7,93.0,97.5,90.3,31 : 69,"2,209",27%,6.5
4,United Kingdom,5,Europe,95.6,University of Cambridge,/universities/university-cambridge,5490.0,2278.0,18770.0,6699.0,...,97.5,51.5,93.0,93.2,97.8,87.8,45 : 55,"18,389",35%,10.9
5,United Kingdom,6,Europe,95.3,University of Oxford,/universities/university-oxford,6750.0,2964.0,19720.0,7353.0,...,99.1,63.7,95.0,94.3,99.5,86.7,46 : 54,"20,409",38%,11.2
6,United Kingdom,7,Europe,94.6,UCL (University College London),/universities/ucl-university-college-london,6345.0,2554.0,31080.0,14854.0,...,94.6,41.2,94.6,85.3,88.2,74.4,56 : 44,"30,304",49%,10.5
7,United Kingdom,8,Europe,93.7,Imperial College London,/universities/imperial-college-london,3930.0,2071.0,16090.0,8746.0,...,96.7,71.6,96.6,89.2,88.7,81.7,37 : 63,"15,857",55%,11.4
8,United States,9,North America,93.5,University of Chicago,/universities/university-chicago,2449.0,635.0,13557.0,3379.0,...,99.4,39.8,69.6,88.6,90.1,85.3,44 : 56,"13,525",25%,6.2
9,Switzerland,10,Europe,93.3,ETH Zurich - Swiss Federal Institute of Techno...,/universities/eth-zurich-swiss-federal-institu...,2477.0,1886.0,19815.0,7563.0,...,94.3,60.3,98.1,87.7,92.0,76.4,31 : 69,"19,233",38%,14.6
10,Singapore,11,Asia,92.2,"Nanyang Technological University, Singapore (NTU)",/universities/nanyang-technological-university...,4338.0,2993.0,25738.0,7251.0,...,90.7,94.0,95.9,70.5,63.0,49.5,48 : 52,"25,499",31%,16.3
11,Switzerland,12,Europe,91.2,Ecole Polytechnique Fédérale de Lausanne (EPFL),/universities/ecole-polytechnique-f%C3%A9d%C3%...,1695.0,1300.0,10343.0,5896.0,...,94.2,76.0,98.7,75.3,66.8,58.8,28 : 72,"9,928",55%,11.2
12,United States,13,North America,91,Princeton University,/universities/princeton-university,1007.0,246.0,8069.0,1793.0,...,99.6,58.0,78.7,91.1,93.9,85.7,45 : 55,"7,955",24%,8.3
13,United States,14,North America,90.7,Cornell University,/universities/cornell-university,2718.0,970.0,21904.0,5411.0,...,97.6,34.6,69.2,84.2,86.6,76.2,49 : 51,"21,850",24%,9.8
14,Singapore,15,Asia,90.5,National University of Singapore (NUS),/universities/national-university-singapore-nus,5106.0,3086.0,32728.0,8917.0,...,81.3,61.9,95.8,82.8,88.2,77.4,51 : 49,"30,602",30%,17.0
15,United States,16,North America,90.4,Yale University,/universities/yale-university,4940.0,1708.0,12402.0,2469.0,...,98.4,45.1,64.6,87.6,87.0,86.7,49 : 51,"12,155",21%,4.3
16,United States,17,North America,89.8,Johns Hopkins University,/universities/johns-hopkins-university,4462.0,1061.0,16146.0,4105.0,...,98.4,95.8,70.6,86.5,88.1,76.1,52 : 48,"15,498",24%,4.3
17,United States,18,North America,88.9,Columbia University,/universities/columbia-university,6189.0,913.0,25045.0,8105.0,...,98.8,41.3,76.6,86.0,83.3,82.2,None,"26,587",32%,6.1
18,United States,19,North America,88.7,University of Pennsylvania,/universities/university-pennsylvania,5499.0,1383.0,20639.0,4250.0,...,98.5,56.9,61.3,87.7,90.1,83.7,50 : 50,"20,361",20%,6.5
19,Australia,20,Oceania,87.1,The Australian National University,/universities/australian-national-university,1600.0,927.0,14442.0,5551.0,...,85.5,61.1,94.3,71.6,72.0,52.7,52 : 48,"15,986",35%,19.3
20,United States,=21,North America,87,University of Michigan,/universities/university-michigan,6809.0,1920.0,43147.0,7527.0,...,95.7,46.2,55.8,83.1,86.3,77.2,48 : 52,"41,818",16%,8.6
21,United States,=21,North America,87,Duke University,/universities/duke-university,2938.0,226.0,15320.0,2864.0,...,98.3,100.0,62.5,85.1,80.6,80.7,49 : 51,"15,256",22%,4.5
22,United Kingdom,=23,Europe,86.9,The University of Edinburgh,/universities/university-edinburgh,4075.0,1553.0,28040.0,10551.0,...,97.0,36.3,92.0,79.2,74.2,66.8,59 : 41,"26,759",40%,12.5
23,United Kingdom,=23,Europe,86.9,King's College London,/universities/kings-college-london,3650.0,1513.0,23780.0,9451.0,...,94.4,43.9,94.5,75.6,71.2,59.3,62 : 38,"23,207",41%,12.0
24,China,25,Asia,85.6,Tsinghua University,/universities/tsinghua-university,5506.0,932.0,36300.0,4072.0,...,71.4,99.8,41.0,79.0,93.2,80.2,32 : 68,"42,089",9%,13.7
25,Hong Kong,26,Asia,85.5,The University of Hong Kong,/universities/university-hong-kong,3012.0,2085.0,20214.0,8230.0,...,74.2,54.0,99.5,75.1,77.9,68.8,54 : 46,"18,364",42%,18.0
26,United States,27,North America,84.9,"University of California, Berkeley (UCB)",/universities/university-california-berkeley-ucb,3321.0,1395.0,36703.0,6086.0,...,99.8,37.5,64.5,84.3,84.5,77.4,52 : 48,"36,182",17%,13.1
27,Japan,=28,Asia,84.8,The University of Tokyo,/universities/university-tokyo,4514.0,254.0,27279.0,2639.0,...,63.7,52.7,32.2,72.2,85.2,79.5,None,"26,000",10%,6.7
28,United States,=28,North America,84.8,Northwestern University,/universities/northwestern-university,4231.0,1141.0,18675.0,3422.0,...,96.9,78.2,59.2,83.3,86.7,72.6,48 : 52,"17,466",18%,12.8
29,Hong Kong,30,Asia,84.3,The Hong Kong University of Science and Techno...,/universities/hong-kong-university-science-tec...,1150.0,835.0,10375.0,2921.0,...,93.1,58.1,83.4,72.7,68.4,55.2,None,"10,214",31%,23.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,84.8,76.8,57.1,56.4,42.7,39.8,65 : 35,"45,087",10%,50.9
212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,89.5,33.3,91.5,56.2,38.1,34.1,55 : 45,"12,384",38%,15.4
213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,83.0,35.3,50.7,55.9,37.9,49.8,45 : 55,"11,912",11%,13.4
214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81.6,63.8,91.6,55.6,39.5,35.9,29 : 71,"8,548",24%,6.0
215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,74.2,95.0,52.6,55.5,46.9,42.8,42 : 58,"34,514",13%,35.9
216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,90.0,77.3,56.5,55.5,37.4,37.1,48 : 52,"10,657",13%,28.4
217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,90.1,36.7,46.1,55.2,34.9,44.4,49 : 51,"10,130",19%,7.1
218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,91.4,35.2,89.9,55.0,34.5,32.2,54 : 46,"14,635",38%,14.1
219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,85.4,46.1,43.3,54.9,38.7,44.3,52 : 48,"38,334",9%,13.0
220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.9,38.2,51.6,54.8,35.0,31.5,52 : 48,"17,866",4%,23.0
221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,77.6,95.9,53.0,54.8,44.0,39.8,49 : 51,"38,730",12%,58.5
222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,86.5,46.1,53.7,54.7,42.8,35.8,57 : 43,"22,537",9%,33.9
223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.1,67.6,34.6,54.6,32.8,39.7,61 : 39,"15,703",6%,15.2
224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,88.1,36.7,52.7,54.5,33.4,44.1,54 : 46,"10,463",16%,9.3
225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,79.7,36.9,39.2,54.3,45.3,43.0,52 : 48,"43,439",10%,11.1
226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81.2,60.8,47.7,54.2,42.1,40.3,53 : 47,"42,287",7%,42.6
227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,91.9,39.6,99.8,53.8,32.4,26.8,50 : 50,"4,969",57%,14.6
228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,86.8,32.3,63.5,53.7,33.1,40.4,55 : 45,"27,221",16%,14.5
229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,75.4,37.7,49.4,53.4,33.3,53.7,30 : 70,515,7%,5.2
230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,90.3,37.2,67.1,53.1,24.4,42.5,51 : 49,"15,860",16%,5.9
231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,94.5,43.4,79.8,52.9,32.0,26.3,62 : 38,"10,893",24%,14.9
232,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,90.5,32.2,85.6,52.8,31.6,29.9,60 : 40,"13,521",30%,13.6
233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,88.8,51.0,54.8,52.6,32.2,36.3,49 : 51,"59,230",14%,13.3
234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,91.7,35.4,70.1,52.4,26.8,35.6,49 : 51,"18,780",32%,14.0
235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.8,89.0,61.1,52.3,61.6,74.2,48 : 52,"29,236",22%,7.3
236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61.3,59.0,75.8,52.1,50.1,38.4,48 : 52,"7,738",13%,22.5
237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,77.1,32.1,57.9,52.0,34.3,44.6,68 : 32,"22,042",15%,30.2
238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,85.0,35.0,93.0,51.9,27.9,33.9,59 : 41,"8,931",40%,15.4
239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,92.3,37.4,63.9,51.7,30.9,30.0,51 : 49,"20,740",14%,20.7
240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,87.5,38.9,62.5,51.7,39.2,26.7,None,"18,378",13%,10.0

In [116]:
results = pd.merge(QS, Times, how='outer', on=['nameIndex'])
for result in results[['name','title']].itertuples():
    if str(result.name) == 'nan' or str(result.title) == 'nan':
        print(result.name, "-", result.title)

nan - The University of Sydney
nan - Tokyo Institute of Technology
nan - Osaka University
nan - Ludwig-Maximilians-Universität München
nan - Universidad de Buenos Aires (UBA)
nan - Tohoku University
nan - Korea University
nan - Yonsei University
nan - Universiti Malaya (UM)
nan - Nagoya University
nan - Universidade de São Paulo
nan - Universidad Nacional Autónoma de México  (UNAM)
nan - Hokkaido University
nan - Kyushu University
nan - Chalmers University of Technology
nan - Pontificia Universidad Católica de Chile (UC)
nan - The Hebrew University of Jerusalem
nan - University of Otago
nan - University of Waterloo
nan - Hanyang University
nan - University of Bath
nan - National Tsing Hua University
nan - University of Bergen
nan - University College Dublin
nan - Politecnico di Milano
nan - Indian Institute of Technology Delhi (IITD)
nan - King Fahd University of Petroleum & Minerals
nan - University of Technology Sydney
nan - CentraleSupélec
nan - Indian Institute of Technology Bombay (IITB)
nan - Universidade Estadual de Campinas (Unicamp)
nan - Vienna University of Technology
nan - Universidad Autónoma de Madrid
nan - Alma Mater Studiorum - University of Bologna
nan - University of Reading
nan - Indian Institute of Science (IISc) Bangalore
nan - Scuola Superiore Sant'Anna Pisa di Studi Universitari e di Perfezionamento
nan - Keio University CEMS MIM
nan - Universitat Autònoma de Barcelona
nan - Instituto Tecnológico y de Estudios Superiores de Monterrey
nan - Universidad de Chile
Technical University of Munich - nan
University of New South Wales - nan
Korea Advanced Institute of Science and Technology (KAIST) - nan
University of Bonn - nan
Vanderbilt University - nan
University of Montreal - nan
Indiana University - nan
Radboud University Nijmegen - nan
Georgetown University - nan
University of Mannheim - nan
Pompeu Fabra University - nan
University of Cologne - nan
University of Sussex - nan
University of Notre Dame - nan
Technical University of Denmark - nan
TU Dresden - nan
Ulm University - nan
Case Western Reserve University - nan
University of Leicester - nan
University of Arizona - nan
University of California, Santa Cruz - nan
University of Erlangen-Nuremberg - nan
University of Würzburg - nan
University of Alabama at Birmingham - nan
Tufts University - nan
Rutgers, the State University of New Jersey - nan
University of Münster - nan
University of Luxembourg - nan
Paris-Sud University - nan
Scuola Normale Superiore di Pisa - nan
University of Miami - nan
University of Dundee - nan
University of East Anglia - nan
University of Massachusetts - nan
Northeastern University - nan
Lomonosov Moscow State University - nan
Tilburg University - nan
Paris-Sorbonne University – Paris 4 - nan
Royal Holloway, University of London - nan
University of California, Riverside - nan
University of Gothenburg - nan

In [40]:
predefined: {
    {
        "qs": "University College London" ,
        "times": "UCL (University College London)"
    },
    {
        "qs": "King's College London" ,
        "times": "King's College London"
    },
    {
        "qs": "Korea Advanced Institute of Science and Technology (KAIST)"
        "times": "Korea Advanced Institute of Science & Technology"
    },
    {
        "qs": "Wageningen University & Research - KAIST",
        "times": "Wageningen University"
    },
    
    
}

NameError: name 'qs' is not defined

In [121]:
results[['title', 'name']]

,title,name
0,Massachusetts Institute of Technology (MIT),Massachusetts Institute of Technology
1,Stanford University,Stanford University
2,Harvard University,Harvard University
3,California Institute of Technology (Caltech),California Institute of Technology
4,University of Cambridge,University of Cambridge
5,University of Oxford,University of Oxford
6,UCL (University College London),University College London
7,Imperial College London,Imperial College London
8,University of Chicago,University of Chicago
9,ETH Zurich - Swiss Federal Institute of Techno...,ETH Zurich – Swiss Federal Institute of Techno...
10,"Nanyang Technological University, Singapore (NTU)","Nanyang Technological University, Singapore"
11,Ecole Polytechnique Fédérale de Lausanne (EPFL),École Polytechnique Fédérale de Lausanne
12,Princeton University,Princeton University
13,Cornell University,Cornell University
14,National University of Singapore (NUS),National University of Singapore
15,Yale University,Yale University
16,Johns Hopkins University,Johns Hopkins University
17,Columbia University,Columbia University
18,University of Pennsylvania,University of Pennsylvania
19,The Australian National University,Australian National University
20,University of Michigan,University of Michigan
21,Duke University,Duke University
22,The University of Edinburgh,University of Edinburgh
23,King's College London,King’s College London
24,Tsinghua University,Tsinghua University
25,The University of Hong Kong,University of Hong Kong
26,"University of California, Berkeley (UCB)","University of California, Berkeley"
27,The University of Tokyo,University of Tokyo
28,Northwestern University,Northwestern University
29,The Hong Kong University of Science and Techno...,Hong Kong University of Science and Technology
...,...,...
211,NaN,University of Cologne
212,NaN,University of Sussex
213,NaN,University of Notre Dame
214,NaN,Technical University of Denmark
215,NaN,TU Dresden
216,NaN,Ulm University
217,NaN,Case Western Reserve University
218,NaN,University of Leicester
219,NaN,University of Arizona
220,NaN,"University of California, Santa Cruz"
221,NaN,University of Erlangen-Nuremberg
222,NaN,University of Würzburg
223,NaN,University of Alabama at Birmingham
224,NaN,Tufts University
225,NaN,"Rutgers, the State University of New Jersey"
226,NaN,University of Münster
227,NaN,University of Luxembourg
228,NaN,Paris-Sud University
229,NaN,Scuola Normale Superiore di Pisa
230,NaN,University of Miami
231,NaN,University of Dundee
232,NaN,University of East Anglia
233,NaN,University of Massachusetts
234,NaN,Northeastern University
235,NaN,Lomonosov Moscow State University
236,NaN,Tilburg University
237,NaN,Paris-Sorbonne University – Paris 4
238,NaN,"Royal Holloway, University of London"
239,NaN,"University of California, Riverside"
240,NaN,University of Gothenburg